###> composer/general ###
composer.lock
/vendor
###< composer/general ###

###> phpunit/general ###
phpunit.xml
.phpunit.result.cache
###< phpunit/general ###
/.php-cs-fixer.cache
/docker/config/composer-auth.json
